<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="false">

  <property name="LAUNCHER_CLASS" value="com.k2.SampleLauncher" />

  <include resource="com/k2/core/logback/base.xml" />

  <!-- Logs to the console when the application starts. -->
  <logger name="com.k2" additivity="false" level="INFO">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref='FILE' />
  </logger>

  <logger name="com.archery" additivity="false" level="ERROR">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref='FILE' />
  </logger>

  <root level="ERROR">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>

</configuration>

